{% extends 'base.html' %}

{% block title %} {{ contact.name }} {{ contact.last_name }} | {% endblock %}

{% block conteudo %}

<h1 class="mt-5">{{ contact.name }}</h1>
{% if contact.media %}
<p>
  <img src="{{ contact.media.url}}" alt="{{contact.name}}" style="max-width: 250px; height: auto;">
</p>
{% endif %}

<dl>
  <dt>ID</dt>
  <dd>{{ contact.id }}</dd>

  <dt>Telefone</dt>
  <dd>{{ contact.telephone }}</dd>

  <dt>E-mail</dt>
  <dd>{{ contact.email }}</dd>

  <dt>Data criação</dt>
  <dd>{{ contact.created_at|date:'d/m/Y' }}</dd>

  <dt>Categoria</dt>
  <dd>{{ contact.category }}</dd>

  <dt>Descrição</dt>
  <dd>
    {{ contact.description }}
  </dd>
</dl>

{% endblock %}